.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mapboxgl-ctrl-geocoder{
  width: 200px;
}
.mapboxgl-ctrl-geocoder--input{
  padding: 10px 40px 10px 32px !important;
}